* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*:not(i) {
    font-family: "Poppins", sans-serif;
}
body {
    background-image: url("background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

image{
    backdrop-filter: blur(5px);
}
.container {
    background-color: #272525;
    backface-visibility: hidden;
    width: 90vmin;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 80px 50px;
    border-radius: 15mm;
    box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}

.heading{
    color: #9aa31c;
    padding-left: 25%;
    font-size:10mm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:1px 1px #ffff;
}

.heading:hover{
    color: #f9c300d7;
    text-shadow:1px 1px rgb(132, 204, 24);
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 89%;
    border: none;
    outline: none;
    border-bottom: 3px solid #191918;
    font-size: 16px;
    border-radius: 4mm;
}
.search-box button {
    padding: 15px 0;
    width: 10%;
    background-color: #dbbf586c;
    border: none;
    outline: none;
    color: #e6d600;
    border-radius: 13mm;
	cursor: pointer;
}
.search-box button i {
   cursor: pointer;
   font-size: 1rem;

}

#search-btn:hover
{
    background-color: #c5c794;
}

#search-btn:active{
    background-color: #9aa31c;
}
.result {
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #dbbf586c;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.result button {
    background-color: transparent;
    color: #9aa31c;
    border: none;
    outline: none;
    font-size: 18px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #ede9dd6c;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #dbbf586c;
}
.word-example {
    color: #dbbf586c;
    font-style: italic;
    border-left: 5px solid #cad237;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 80px;
    text-align: center;
}